@tailwind base;
@tailwind components;
@tailwind utilities;

.text-secondary {
    color: #0F3141 !important;
}

.text-primary {
    color: #246532 !important;
}

.bg-primary {
    background-color: #246532 !important;
}

.inter {
    font-family: var(--font-inter) !important;
}

.nunito {
    font-family: var(--font-nunito) !important;
}

.poppins {
    font-family: var(--font-poppins) !important;
}

.banner {
    background: url('../../public/assets/fc8401c42aac2193aa4293ac4cb98056\ \(1\).jpg') lightgray 50% / cover no-repeat;
}

.login {
    background-image: url('../../public//assets/Untitled.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.disabled-link {
    pointer-events: none !important;
}

#search::placeholder {
    color: #667085 !important;
    font-family: var(--font-inter) !important;
    font-size: 18px !important;
    font-weight: 400 !important;
}



.custom-file-input::-webkit-file-upload-button {
    background-color: #246532;
    /* Change to your desired color */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.custom-grid {
    display: grid !important;
    grid-template-columns: 1fr 3fr 1fr !important;
    gap: 10px !important;
    align-items: center !important;
}

.subscription {
    background-image: url('../../public/assets/d52f550b3b5989cf96d343f41333a3ab.png');
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    box-sizing: border-box !important;
}